<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
        </console>

        <RollingFile name="RollingFileDebug" fileName="/peru/log/peru.debug"
                     filePattern="/peru/log/peru.debug.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="RollingFileInfo" fileName="/peru/log/peru.log"
                     filePattern="/peru/log/peru.log.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="RollingFileWarn" fileName="/peru/log/peru.warn"
                     filePattern="/peru/log/peru.warn.%d{yyyy-MM-dd}">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="/peru/log/peru.error"
                     filePattern="/peru/log/peru.error.%d{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
        </logger>
        <root level="info">
            <!--<appender-ref ref="Console"/>-->
            <appender-ref ref="RollingFileDebug"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>

</configuration>

