.gray-bg {
    background-color: #f3f3f4
}

.wrapper-content {
    padding: 20px
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 0px 0
}

#loginForm {
    width: 400px
}

.hour {
    width: 50px;
    display: inline-block;
    height: 34px;
    vertical-align: text-top;
}